
body{
    background-color: rgb(255 226 172);
}
p{background-color: orange;}

#Cloud_computing
{
    background-color: orange;
    border: 25px;
}
p{
    border: red;
}
body{background-image: url();
background-position: center center ;
background-repeat: no-repeat;
}
#Virtualization{height: 34; width: 55;}